.container{
  form{

    select{
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      align-self: center;
      width: 10px;
    }
  }
}



.gestion{
  text-align:left;
  justify-content: left;
}

.call-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: $main-green;
  transition: 0.5s;

  &:hover {
    background-color: #2bac47;
  }
}

.hang-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: #ff2849;
  transition: 0.5s;

  &:hover {
    background-color: #e52441;
  }
}

