body {
  background-size: cover;
}

.container {
  text-align: center;
  box-sizing: border-box;
}
h1,
h4,
h2,
h3 {
  font-weight: 800;
}

.carousel {
  .carousel-inner {
    span {
      background-color: black !important;
    }
  }
}

.typewriter {
  background: -webkit-linear-gradient(45deg, $typewriter-grad-1, $typewriter-grad-2 80%);
  -webkit-background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.disp {
  display: flex;
  max-width: 100%;
  align-items: center;

  .textos {
    display: flex;
    flex-direction: column;
  }

  p {
    letter-spacing: 1px;
    min-width: 20em;
  }

  :first img {
    width: 50px;
  }
}

.img-disp {
  width: fit-content;
  height: 30em;
  img {
    max-width: fit-content;
  }
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 2s steps(60, end), blink-caret 0.75s step-end infinite;
}

.carousel {
  img {
    margin-top: 2em;
    width: 100%;
    min-height: 50vh;
    max-height: 50vh;
    margin-bottom: 5em;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 19em;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media only screen and (max-width: 1200px) {
  .typewriter {
    max-width: 100%;
    white-space: normal;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

/* player */

#player-button {
  margin-top: 30px;
  border: none !important;
  background-color: rgba(0, 0,0,0) !important;
}

.play {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
