@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

html {
  font-family: "Lato", sans-serif;
}

.modal {
  color: black !important;

  .modal-title {
    text-align: center;
  }

  .modal-dialog {
    top: 20%;
    transform: translateX(-50%);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    font-weight: 500;
    input {
      border-color: black !important;
    }
  }
}

.btn-cancel {
  background-image: linear-gradient(to right, #dc143c, #c51e3a, #e0115f, #c80815) !important;
}

.navbar {
  font-size: large;
  font-weight: bold;
  box-shadow: 15px 10px 15px 3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.general-background,
.dropdown-menu {
  background-color: $main-green !important;
}

.dropdown-item:hover {
  background-color: #7ebc80;
}

.modal-title {
  background-color: $main-green !important;
  border-color: black;
}

.modal-body {
  background-color: $main-green !important;
  border-top: none;

  input {
    background-color: #7ebc80 !important;
    color: white;
  }
}

footer {
  background-color: $main-green;
  a{
    color: #2e6da4;
  }
  section:nth-child(1){
    background-color: $footer-color !important;
  }
  section:nth-child(2){
    border-bottom: #2bb673 1px solid;
  }
}

.modal-footer {
  border-color: black !important;
  background-color: #7ebc80 !important;
}

.container {
  justify-content: space-between;
}

.navbar-btn:hover {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  width: 0px;
}

.navbar-collapse .collapse #basic-navbar-nav {
  margin: 0px !important;
  padding: 0px !important;
}

.btn-primary {
  border-color: $btn-primary;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons,
.toggleTheme {
  margin: 10px;
  text-align: center;
}

.navbar-collapse {
  margin-left: 0px !important;
  margin-right: 0px !important;
  justify-content: space-evenly !important;
}

.btn-hover {
  min-width: 8em;
  font-size: 16px;
  max-width: 100%;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }

  background-image: linear-gradient(to right, #4caf50, #3cba92, #30dd8a, #2bb673);
  box-shadow: 10 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.collapse {
  padding: 0px !important;
  margin-right: 0px !important;
}

.me-auto {
  margin-top: 2px;
  line-height: 1em;
  margin: 0px !important;
  padding-right: 0px !important;
  max-width: 100%;
}

.btn-login {
  display: grid;
  width: 20px;
  height: 20px;
  place-items: center;
  background: $secondary-green;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;

  &:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.3),
      -0.5px -0.5px 0px rgba(255, 255, 255, 0.3), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
  }

  &:hover svg {
    fill: #333333;
  }

  svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
  }
}

.toggleTheme svg {
  align-items: center;
}

.logo img {
  align-items: center;
  width: 3em;
  transition: transform 350ms;

  &:hover {
    transform: scale(1.2);

    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

@media only screen and (max-width: 1000px) {
  .btn-hover {
    width: 90%;
  }
}

