@media only screen and (max-width: 1200px) {
  .specialists-container {
    width: fit-content;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: 0%;
  }

  .card {
    background-color: aliceblue;
    min-width: fit-content;
  }

  .cardImg {
    min-width: 75%;
  }

  .typewriter {
    max-width: 100%;
    white-space: normal;
  }

  .player-image {
    max-width: 290px;
  }

  .disp {
    flex-direction: column;
    img {
      width: 80%;
    }
  }

  .videos-container {
    flex-direction: column;
    margin-left: 10%;
    padding-left: 0px !important;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
