@media only screen and (max-width: 1200px) {
    .specialists-container {
        width: fit-content;
        border-radius: 20px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-basis: 0%;
    }

    .card {
        background-color: aliceblue;
        min-width: fit-content;
    }

    .square-container {
        display: flex;
        flex-direction: column !important;
        margin-right: 5px;

        .square-title {
          text-align: center; 
            .call-square {
                width: 85vw !important;
            }
        }
    }

    .cardImg {
        min-width: 75%;
    }

    .typewriter {
        max-width: 100%;
        white-space: normal;
    }

    .player-image {
        max-width: 290px;
    }

    .disp {
        flex-direction: column;
        img {
            width: 80%;
        }
    }

    .videos-container {
        flex-direction: column;
        margin-left: 10%;
        padding-left: 0px !important;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
}
