@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

html {
    font-family: "Lato", sans-serif;
}

.navbar {
    font-size: large;
    font-weight: bold;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.general-background,
.dropdown-menu {
    background-color: #4caf50 !important;
}

.dropdown-item:hover {
    background-color: #7ebc80;
}

.modal-title {
    background-color: #4caf50 !important;
    border-bottom: none;
}

.modal-body {
    background-color: #4caf50 !important;
    border-top: none;
}

.modal-body input {
    background-color: #7ebc80 !important;
    color: white;
}

.modal-footer {
    border-color: black !important;
    background-color: #7ebc80;
}
.container{

    justify-content: space-between;
}

.navbar-btn:hover {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    width: 0px;
}

.navbar-collapse .collapse #basic-navbar-nav{
    margin: 0px !important;
    padding: 0px !important;
}

.btn-primary {
    border-color: #ae142a;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons,
.toggleTheme {
    margin:10px;
    text-align: center;
}

.navbar-collapse {
    margin-left: 0px !important;
    margin-right: 0px !important;
    justify-content: space-evenly !important;
}

.btn-hover {
    min-width: 8em;
    font-size: 16px;
    max-width: 100%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 10 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.collapse{
    padding: 0px !important;
    margin-right: 0px !important;
}
.me-auto {
    margin-top: 2px;
    line-height: 1em;
    margin: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
}

.toggleTheme svg {
    align-items: center;
}

.logo img {
    align-items: center;
    width: 3em;
    transition: transform 350ms;
}

.logo img:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width: 00px) {
    .btn-hover {
        width: 100%;
    }
}
