@media only screen and (max-width: 1200px) {
    .specialists-container {
        background-color: aliceblue;
        display: flex;
        width: fit-content;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-basis: 0%;
    }
    .card{
        max-width: 100%;
    }

}